img {
	height: auto;
    max-width: 100%;
	border: 0;
	vertical-align: bottom;
	-ms-interpolation-mode: bicubic;
}

svg:not(:root) {
	overflow: hidden;
}

figure {
	margin: 0 0 $baseline 0;
	padding: $padding;
	background: $white;
	border-radius: $border-radius;
	box-shadow: 2px 2px 5px darken($beige, 10%);
	figcaption {
		font-style: italic;
	}
}

.figure-full {
	margin-left: -20px;
}


.figure-50 {
	
	margin-bottom: $baseline;
	
	@media (min-width: 500px) {
		float: right;
		max-width: 50%;
		margin-left: $padding*2;
	}
}