.row {
	max-width: $page-width;
	margin: 0 auto;
	position: relative;
	@extend %clearfix;
}

.site-content, .sidebar_first, .sidebar_second {
	float: left;
	width: 100%;
}

.front {
	.site-content {
		@media (min-width: 750px) { 
			width: 45%
		}
	}
	.sidebar_first {
		@media (min-width: 750px) { 
			width: 25%;
			padding: 0 0 0 20px;
		}
	}
	.sidebar_second {
		@media (min-width: 750px) { 
			width: 30%;
			padding: 0 20px 0 20px;
		}
	}	
}

.not-front {
	.site-content {
		@media (min-width: 750px) { 
			width: 55%;
		}
	}
	.sidebar_first {
		@media (min-width: 750px) { 
			width: 45%;
			padding: 0 20px;
		}
	}
}

