.site-search {
	.block {
		padding: 0;
	}
	@media (min-width: 500px) { 
		float: right;
		width: 25%;
		margin-top: 65px;
	}
}

.site-logo {
	@media (max-width: 500px) { 
		width: 100%;
	}
}

.site-nav {
	@media (max-width: 500px) { 
		padding: 20px;
	}
}

.site-search {
	@media (max-width: 500px) { 
		padding: 0 20px 20px 20px;
	}
}