$green-light: #bdd73c;
$green-dark: #035436;
$red: #D0363A;
$blue-dark: #173d42;
$beige: #f1f3e7;
$mute: rgba(255,255,255,.4);
$red-dark: darken($red, 60%);

$background-color: $beige;

$link-color: $red;

$font-family-copy: "pt serif", georgia, serif;
$font-family-sans: "pt sans", helvetica, arial, serif;
$font-family-serif: "pt serif", helvetica, arial, serif;

$font-color: $blue-dark;


$font-size-xxl: 25px;
$font-size-xl: 21px;
$font-size-l: 18px;
$font-size-m: 14px;
$font-size-s: 12px;


$line-height-m: 20px;
$line-height-l: 24px;

$page-width: 1000px;