
@import 'config';

@import 'global/base';
@import 'global/typography';
@import 'global/images';
@import 'global/lists';
@import 'global/forms';
@import 'global/buttons';
@import 'global/tables';
@import 'global/layout';
@import 'global/print';

@import 'helpers/utilities';

@import 'modules/logo';
@import 'modules/navigation';
@import 'modules/searchform';
@import 'modules/tageskarte';
@import 'modules/mitarbeiter';
@import 'modules/angebote';
@import 'modules/imagegrid';
@import 'modules/artikel';
@import 'modules/maps';


@import 'sections/header';
@import 'sections/main';
@import 'sections/footer';

@import 'pages/front';
@import 'pages/contact';

@import 'vendor/drupal';


.site-main {
	@include clearfix();
	float: left;
	width: 100%;
	padding-bottom: 20em;
	background-image: url(images/biomarkt-logo.svg);
	background-repeat: no-repeat;
	background-position: center bottom 8em;
}
